<div class="row my-5 justify-content-center">
  <div class="row my-4">
    <h3>
      Users
    </h3>
  </div>
  <div class="container">
    <ul class="list-unstyled">
      <div class="row justify-content-center">
        <% if(users.length > 0) { %> <%for(user of users) {%>
        <p><a href="/DM/<%=user._id%>"><%=user.name%></a></p></br>
        <%}%> <% } %>
      </div>
    </ul>
  </div>
</div>