<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">Slack-Clone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="<%= title == 'home' ? 'navbar-item active' : 'navbar-item' %>">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="<%= title == 'register' ? 'navbar-item active' : 'navbar-item' %>">
                <a class="nav-link" href="/user/register">Register</a>
            </li>
            <li class="<%= title == 'login' ? 'navbar-item active' : 'navbar-item' %>">
                <a class="nav-link" href="/user/login">Login</a>
            </li>
        </ul>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </div>
</nav>