<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <a class="navbar-brand" href="#">Slack-Clone</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="<%= title == 'home' ? 'navbar-item active' : 'navbar-item' %>">
                <a class="nav-link" href="/api/users/dashboard">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="<%= title == 'register' ? 'navbar-item active' : 'navbar-item' %>">
                <a class="nav-link" href="/api/users/register">Register</a>
            </li>
            <li class="<%= title == 'login' ? 'navbar-item active' : 'navbar-item' %>">
                <a class="nav-link" href="/api/users/login">Login</a>
            </li>
        </ul>
        <a class="btn btn-success my-2 my-sm-0" type="submit" role="button" href="/users/login">Logout</a>
    </div>
</nav>