body {
    margin:50px;
    background-color: #ebeff2;
    height: 100vh;
    font-family: "Muli", sans-serif;
  }

.img-circle{
  height: 32px;
  width: 32px;
 }

 .profile-detail img {
  height: 120px;
  width: 120px;
}

.card a {
  color: white;
}
.card a:hover {
  color: rgb(226, 222, 215);
  text-decoration: none !important;
}

.card{
  margin: 20px;
}
.card span{
  align-items: flex-end;
  margin-left: 150px;
}

.chat-avatar{
  display: inline-block;

  text-align: center;
  width: 75px;
}
.conversation-text {
  display: inline-block;
 
  font-size: 16px;
  margin-left: 50px;
  width: 70%;
}
.chat-avatar img {
  border-radius: 100%;
  width: 60%;
}


